 body {
    background-color: rgb(0, 0, 0);
 }

 
 

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
}

header {
    background-color: hsl(0, 0%, 100%); /* Warna background header */
    text-align: center;
    padding: 10px; /* Menambahkan padding pada teks */
    margin: 20px auto; /* Menambahkan margin atas dan bawah */
    width: fit-content; /* Ukuran background menyesuaikan teks */
    border-radius: 10px; /* Membuat sudut background menjadi melengkung */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */

    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 0;
    animation: typing 1s steps(20) 1s forwards, blink 0.5s step-end infinite alternate;
}

img {
    border: 5px solid rgb(255, 255, 255); /* Menambahkan border hitam dengan ketebalan 5px */
    border-radius: 10px; /* Membuat sudut border melengkung */
    transform: rotate(20deg); /* Memiringkan gambar sebesar 20 derajat */
    transition: transform 0.5s ease;
}

img:hover {
    transform: rotate(-20deg);
}

.pic2 {
    transform: rotate(-20deg);
}

.pic2:hover {
    transform: rotate(20deg);
}

ul {
    color: aqua;
}

p {
    font-size: 20px;
} 
/* From Uiverse.io by WhiteNervosa */ 
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  /* From Uiverse.io by Cornerstone-04 */ 
/* From Uiverse.io by Cornerstone-04 */ 

  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  .namaKU {
    background-color: white;
    width: 20%;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 10px;
  }
  .NamaAku {
    background-color: white;

    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
  }
